div{
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
    width: 40%;
    /* height: 50vh; */
    padding: 20%;
}
button{
    background-color: blue;
    border: none;
    padding: 13px;
}
div input{
    padding: 5px;
}